[Desktop Entry]
Name=KNutClient
Name[de]=KNutClient
Name[cs]=KNutClient
Comment=Client for NUT
Comment[de]=
Comment[cs]=Klient pro UPS systém NUT
Comment[es]=Cliente KDE para NUT
Exec=knutclient -caption "%c" %i %m
Icon=knutclient
MiniIcon=knutclient
Type=Application
X-DocPath=knutclient/index.html
GenericName=KNutClient
Terminal=false
OnlyShowIn=KDE;
Categories=Qt;KDE;System;Monitor;

