<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="8" name="knutclient" >
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="printupsvars" />
    <Action name="instcomms" />
    <Action name="rwvars" />
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Separator/>
    <Action name="use_description" />
  </Menu>
  <Menu name="connection"><text>&amp;Connection</text>
    <Action name="reconnect" />
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar">
  <Action name ="file_quit"/>
  <Action name ="options_configure"/>
  <Action name ="reconnect"/>
  <Separator lineSeparator="true"/>
  <Action name ="upslabel"/>
  <Action name ="upscombobox"/>
</ToolBar>
<StatusBar/>
</kpartgui>
